/DataStructure/obj/Debug/DataStructure.csproj.CoreCompileInputs.cache
/DataStructure/obj/Debug/DataStructure.csprojAssemblyReference.cache
/DataStructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DataStructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DataStructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DataStructure.sln.DotSettings.user
.vs/
/.vs/DataStructure/v15/Server/sqlite3
/.vs/DataStructure/v15/.suo
/DataStructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache